.map {
  height: 450px;
  padding: 0.5rem;
  border-radius: 20px;
}
.map .leaflet-container {
  height: 100%;
}

.info-flag {
  height: 50px;
  width: 100%;
  background-size: 30%;
  background-repeat: no-repeat;
  display: flex;
  background-position: center;
}
.info-name {
  font-size: 20px;
  font-weight: 700;
  color: #555;
  text-align: center;
}
.info-cases,
.info-recovered,
.info-deaths,
.info-activecase {
  font-size: 16px;
  margin-top: 5px;
}

.mapcontainer .leaflet-container {
  background-color: lightblue;
  height: 450px;
}

.mapcontainer {
  background-color: #2c3531;
  opacity: 1;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
}
